<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Seneca HR System</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    {{>header}}
    <br>
    <h2>HR System</h2>

        <form class="clsForm" id="homeForm" method="post" action="/">
        <article class="homeContainer">
            <br><br><br><br><br><br><br><br><br><br><br>
            <button id="btnEmployee" name="btnsubmit" type="submit" value="employee">Employee Main Menu</button>
            <button id="btnJobs" name="btnsubmit" type="submit" value="job">Jobs Main Menu</button>
            <button id="btnDepartments" name="btnsubmit" type="submit" value="department">Departments Main Menu</button>
        </article>
    </form>
</body>
</html>