<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Seneca HR System</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    {{>header}}
    <br>
    <h2>Job Title</h2>

    <form class="empFormList" id="employeeFormList" method="post" action="/jobdesc">
        <button id="submit" name="btnsubmit" type="submit" value="home">Home</button> 
        <br><br>
        <table>
            <thead>
                <tr>
                    <th>Job ID</th>
                    <th>Job Title</th>
                </tr>
            </thead>
            <tbody>
                {{#each jobRecord}}
                <tr>
                    <td>{{this.[0]}}</td>
                    <td>{{this.[1]}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </form>
  </body>
</html>
