<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Seneca HR System</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    {{>header}}
    <br>
    <h2>Job Form</h2>

        <form class="empForm" id="employeeForm" method="post" action="/jobForm">
        <div class="form-jobinfo">
            <h3>New Position</h3>
                <label for="jobId">Job_ID</label>
                <input id="jobId" name="jobId" type="text" value="">
                <br>
                <br>
                <label for="title">Title</label>
                <input id="title" name="title" type="text" value="">
                <br>
                <br>
                <label for="minsalary">Minimum Salary</label>
                <input id="minsalary" name="minsalary" type="text" value="">
                <br>
                <br>
                <label for="maxsalary">Maximum Salary</label>
                <input id="maxsalary" name="maxsalary" type="text" value="">
                <br>
                <br>
        </div>

        <section class="buttons">
        <button id="cancel" name="btnsubmit" type="submit" value="cancel">Cancel</button>
        <button id="submit" name="btnsubmit" type="submit" value="save">Save</button> 
    </section>
    </form>
</body>
</html>