
*
{
    font-family: sans-serif;
    margin: 10;
    padding: 10;
}

body
{
    background:#ececec;
}

h1
{
    text-align: center;
    color: #da291c;
}

h2
{
    text-align: center;
    color: #000000;
    padding: 0;
}

h3
{
    text-align: center;
    color: #000000;
}

p
{
    text-align: left;
    padding-left: 40px;
}

form.clsForm
{
    border: 0px;
    height: 600px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 800px;
}

button
{
    background-color:#da291c;
    border-radius: 5px;
    border: 1px solid #da291c;
    font-size: 16px;
    width: 200px;
    height: 50px;
    color:#ffffff;
}

button:hover
{
    background-color: #ffffff;
    color:#da291c
}

input[type="text"], input[type="date"]
{
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
    color:#000000;
    width: 200px;
    height: 30px;
}

input:disabled {
  background: #dddddd;
}

hr
{
    background: #da291c;
    border-width: 0;
    height: 5px;
}

form.empForm
{
    border: 0px;
    height: 600px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 100;
    width: 900px;
}

/*employeeList.hbs*/
button.editbtn
{
    background-color:#0f52ba;
    border-radius: 5px;
    border: 1px solid #0f52ba;
    font-size: 14px;
    width:150px;
    height: 30px;
    color:#ffffff;
}

form.empFormList
{
    border: 0px;
    height: 600px;
    left: 0;
    margin: 0 150px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 100;
    width: 1400px;
}
table {
    width: 100%;
	border:1px solid #b3adad;
	border-collapse:collapse;
	padding:5px;
    text-align: center;
    }
table th {
	border:1px solid #b3adad;
	padding:5px;
	background: #da291c;
	color: #ffffff;
}
table td {
	border:1px solid #b3adad;
	text-align:center;
	padding:5px;
	background: #ffffff;
	color: #313030;
}

/*hiringForm.hbs*/
select {
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
    color:#000000;
    width: 350px;
    height: 30px;
}
div.form-empinfo
{
	background-color: #ffffff;
	border: 5px solid rgba(85.49%,16.08%,10.98%, 1.0);
	border-radius: 5px;
	height: 400px;
	left: 0;
	margin: 5vh auto;
	padding-top: 20px;
	right: 0;
	text-align: center;
	top: 80px;
	width: 600px;
}

div.form-info
{
	background-color: #ffffff;
	border: 5px solid rgba(85.49%,16.08%,10.98%, 1.0);
	border-radius: 5px;
	height: 150px;
	left: 0;
	margin: 5vh auto;
	padding-top: 20px;
	right: 0;
	text-align: center;
	top: 200px;
	width: 600px;
}

/*employee.hbs*/
div.form-empdetail
{
	background-color: #ffffff;
	border: 5px solid rgba(85.49%,16.08%,10.98%, 1.0);
	border-radius: 5px;
	height: 600px;
	left: 0;
	margin: 5vh auto;
	padding-top: 20px;
	right: 0;
	text-align: center;
	top: 80px;
	width: 600px;
}

/*job.hbs*/
div.form-jobdetail
{
	background-color: #ffffff;
	border: 5px solid rgba(85.49%,16.08%,10.98%, 1.0);
	border-radius: 5px;
	height: 220px;
	left: 0;
	margin: 5vh auto;
	padding-top: 20px;
	right: 0;
	text-align: center;
	top: 80px;
	width: 600px;
}

/*jobForm.hbs*/
div.form-jobinfo
{
	background-color: #ffffff;
	border: 5px solid rgba(85.49%,16.08%,10.98%, 1.0);
	border-radius: 5px;
	height: 300px;
	left: 0;
	margin: 5vh auto;
	padding-top: 20px;
	right: 0;
	text-align: center;
	top: 80px;
	width: 600px;
}

/* login.hbs */
article.loginContainer
{
    background-color: #ffffff;
    border: 5px solid rgba(0,0,0,0);
    border-radius: 10px;
    padding: 2vh 0vh 2vh;
    width: 70%;
    height: 50%;
    right: 60px;
    position: absolute;
    top: 0px;
    margin: 30vh 5vh auto;
}

/* bankAccount.hbs */
article.container
{
	background-color: #ffffff;
	border: 5px solid rgba(85.49%,16.08%,10.98%, 1.0);
	border-radius: 5px;
	height: 150px;
	left: 0;
	margin: 5vh auto;
	padding-top: 20px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 80px;
	width: 350px;
}

/* bankDeposit.hbs */
.depositButtons
{
    margin: 35vh auto;
    right:500px;
}
input.clsAccountNumber
{
    background-color: transparent;
	border: 0px solid #ffffff;
	color: #000000;
	font: bold 16px calibri, arial;
}
label.clsDepositLabels
{
    color: #000000;
    font: bold 16px calibri, arial;
    padding-left: 12px;
}
label.lblDeposit
{
    color: #000000;
    font: bold 16px calibri, arial;
    padding-left: 12px;
}
